
@model Wvy.Models.AdvancedSearchApp
@{
    Title = Model.Name;
}

@section navbar_middle {
    <div class="navbar-middle">
        <a href="@WeavyContext.Space.Url()" class="navbar-text">
            @WeavyContext.Space.Name
            @if (WeavyContext.Space.Teamname != null)
            {
                <small class="d-none d-sm-inline">@@@WeavyContext.Space.Teamname</small>
            }
        </a>
        @Html.StarToggle(WeavyContext.Space)
    </div>
}

@section navbar_secondary {
    @{ Html.RenderPartial("_SpaceTabs"); }
}

<div class="container-fluid my-3">
    <form action="/apps/@Model.Id/df8beb98-7dd5-4c40-93bc-3da22d03d616/search" method="get" class="main-search" data-turboform>
        <div class="form-group" role="search">
            <input id="weavy-main-search" class="form-control" type="search" name="q" value="" placeholder="Search" />
            <button type="submit" class="btn btn-icon">@Html.SvgIcon("magnify")</button>
        </div>
    </form>
</div>

@section footer {
    @{
        Html.RenderPartial("_DrawerSpace");
        Html.RenderPartial("_MembersAddModal");
    }
}
